@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;600&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	font-family: Tahoma, sans-serif;
	font-family: 'Sofia Sans', sans-serif;
	background: #ccc;
}

a, a:hover, a:visited {
	color: inherit;
	text-decoration: initial;
}

button {
	font-size: 1rem;
}

@media (max-width: 600px) {
	:root {
		font-size: 14px;
	}
}
