@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@400;600&display=swap');

* {
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	font-family: 'Source Serif Pro', serif;
}

div {
	width: 100%;
	height: 100%;
}

a, a:hover, a:visited {
	color: inherit;
	text-decoration: initial;
}

details > summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary {
	cursor: pointer;
	display: inline-block;
	background: linear-gradient(to right, #ddd 66%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 6px 1px;
	background-repeat: repeat-x;
	user-select: none;
}

summary::after {
	content: ' ►';
	font-size: 0.875rem;
}

details[open] summary {
	border: none;
	background: none;
}

details[open] summary:after {
	content: " ▼";
}
